<%- include('../menu', {active: 'universities'}) %>
<h2>Universities</h2>
<a href="<%= newUniversityPath %>">New University</a>
<% if (!universitiesList.length) { %>
  <p>No results</p>
<% } else { %>
  <table>
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Domain</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% universitiesList.forEach((university) => { %>
        <tr>
          <td><%= university.code %></td>
          <td><%= university.name %></td>
          <td><%= university.domain %></td>
          <td>
            <form action="<%= editUniversityPath(university) %>" method="get">
              <input type="submit" value="Edit">
            </form>
          </td>
          <td>
            <form action="<%= deleteUniversityPath(university) %>" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>