<h2 class="card title"><%= university.code %>: <%= university.name %> (<%= university.domain %>)</h2>
<div class="card-container">
  <% university.Courses.forEach((course) => {%>
      <%- include('../courses/_show', {course}) %>
  <% }) %>
    <%- include('../courses/_form') %>
</div>
