<div class="card title"><%= university.code %>: <%= university.name %> (<%= university.domain %>)</div>
<div class="card-container">
  <% university.Courses.forEach((course) => {%>
      <%- include('../courses/_show', {course}) %>
  <% }) %>
  <% if (allowedCourse.POST) { %>
  <div class="card new">
    <a href=<%= newCoursePath %>>Create New Course</a>
  </div>
  <% } %>
</div>
