<div id="hello">
  <div><img src="<%= assetPath('check.jpg') %>" alt="Hello" /></div>

<div class="card">
  <div class="card-title">
    <% if (evaluation.isNewRecord) { %>
      New Evaluation
    <% } else { %>
      Edit Evaluation
    <% } %>
  </div>
  <div class="card-contents">
    <form action="<%= submitEvaluationPath %>" method="post">
      <% if (!evaluation.isNewRecord) { %>
        <input type="hidden" name="_method" value="patch"/>
      <% } %>

      <input type="hidden" name="CourseId" value="<%=evaluation.CourseId%>"/>

      <div  class="field">
        <label for="ProfessorNameId">Professor</label>
        <select name="ProfessorNameId" required>
          <option hidden disabled <%= evaluation.isNewRecord ? "selected" : "" %> value> -- select a professor -- </option>
          <% professors.forEach((ProfessorName) => { %>
            <option value="<%= ProfessorName.id %>" <%= evaluation.ProfessorNameId === ProfessorName.id ? "selected" : "" %> ><%= ProfessorName.name %></option>
          <% }) %>
        </select>
      </div>

      <div  class="field">
        <label for="comment">Comment</label>
        <input type="textarea" name="comment" value="<%= evaluation.comment %>" required/>
      </div>

      <div  class="field">
        <label for="year">Year</label>
        <input type="number" name="year" value="<%= evaluation.year || new Date().getFullYear() %>" min="1900" max=<%= new Date().getFullYear() %> required />
      </div>

      <div  class="field">
        <label for="semester">Semester</label>
        <select name="semester" required >
          <option value="1" <%= evaluation.semester == 1 ? "selected" : "" %> > First</option>
          <option value="2" <%= evaluation.semester == 2 ? "selected" : "" %> > Second</option>
        </select>
      </div>
      <div  class="field">
        <label for="timeRating">Time Rating</label>
        <input type="number" name="timeRating" value="<%= evaluation.timeRating || 3 %>" min="1" max="5" required/>
      </div>
      <div  class="field">
        <label for="difficultyRating">Difficulty Rating</label>
        <input type="number" name="difficultyRating" value="<%= evaluation.difficultyRating || 3 %>" min="1" max="5" required/>
      </div>
      <div  class="field button">
        <% if (evaluation.isNewRecord) { %>
          <input type="submit" name="create" value="Create" />
        <% } else { %>
          <input type="submit" name="update" value="Update" />
        <% } %>
      </div>
    </form>
    </div>
  </div>

</div>