<div class="card">
    <div class="card-button-container">
        <% if (allowedEvaluation.PATCH || isMine(evaluation) ) {%>
        <form action="<%= editEvaluationPath(evaluation) %>" method="get">
            <input type="submit" value="Edit" class="card-button edit">
        </form>
        <% } %>
        <% if (allowedEvaluation.DEL || isMine(evaluation) ) {%>
        <form action="<%= deleteEvaluationPath(evaluation) %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete" class="card-button delete">
        </form>
        <% } %>
    </div>
    <% if (showCourse) { %>
        <div class="card-title"><%= evaluation.Course.code %>: <%= evaluation.Course.name %></div>
    <% } else { %>
        <div class="card-title"><%= evaluation.ProfessorName.name %></div>
    <% } %>
    <div class="card-contents">
        <ul>
            <% if (showCourse) { %>
                <li>Professor: <%= evaluation.ProfessorName.name %></li>
            <% } %>
            <li>Year: <%= evaluation.year %></li>
            <li>Semester: <%= evaluation.semester %></li>
            <li>Comment: <%= evaluation.comment %></li>
            <li>Time Rating: <%= evaluation.timeRating %></li>
            <li>Difficulty Rating: <%= evaluation.difficultyRating %></li>
        </ul>
    </div>
</div>