<nav>
    <a href="/users"        class="menu-item menu-link<%= active === 'users'        ? ' active' : '' %>">Users</a>
    <a href="/universities" class="menu-item menu-link<%= active === 'universities' ? ' active' : '' %>">Universities</a>
    <a href="/courses"      class="menu-item menu-link<%= active === 'courses'      ? ' active' : '' %>">Courses</a>
    <a href="/evaluations"  class="menu-item menu-link<%= active === 'evaluations'  ? ' active' : '' %>">Evaluations</a>
    <% if (currentUser) { %>
        <div class="menu-item menu-user-name"><%= currentUser.name %></div>
        <form action="<%= destroySessionPath %>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Log Out" class="menu-item menu-link" />
        </form>
      <% } else { %>
        <a href=<%= newSessionPath %> class="menu-item menu-link">Login</a>
      <% } %>
</nav>