<div id="hello">
  <div><img src="<%= assetPath('signup.jpg') %>" alt="Hello" /></div>

<div class="card">
  <div class="card-title">
    <%_ if (user.isNewRecord) { _%>
      Register
    <%_ } else { _%>
      Edit Account
    <%_ } _%>
  </div>
  <div class="card-contents">
  <form action="<%= submitUserPath %>" enctype="multipart/form-data" method="post">
    <% if (!user.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
    <% } %>
    <div class="field">
      <label for="role">Role</label>
      <select name="role">
        <option value="student" <%- user.role === 'student' ? 'selected' :'' %> >Student</option>
        <option value="professor"<%- user.role === 'professor' ? 'selected' :'' %> >Professor</option>
        <option value="admin" <%- user.role === 'admin' ? 'selected' :'' %> >Admin</option>
      </select>
    </div>
    <div  class="field">
      <label for="name">Name</label>
      <input type="text" name="name" value="<%= user.name %>" required/>
    </div>
    <div  class="field">
      <label for="email">Email</label>
      <input type="email" name="email" value="<%= user.email %>" required/>
    </div>
    <div class="field">
      <label for="photo">Select your profile photo (only JPEG)</label>
      <input type="file" name="photo" accept="image/jpeg"/>
    </div>
    <div  class="field">
      <label for="password">Password</label>
      <input type="password" name="password" required/>
    </div>
    <div  class="field button" >
      <% if (user.isNewRecord) { %>
        <input type="submit" name="create" value="Register" />
      <% } else { %>
        <input type="submit" name="update" value="Update" />
      <% } %>
    </div>
  </form>
</div>

</div>