<div>
  <form action="<%= submitUserPath %>" method="post">
    <% if (!user.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
    <% } %>
    <div class="field">
      <label for="role">Role</label>
      <select name="role">
        <option value="student" <%- user.role === 'student' ? 'selected' :'' %> >Student</option>
        <option value="professor"<%- user.role === 'professor' ? 'selected' :'' %> >Professor</option>
        <option value="admin" <%- user.role === 'admin' ? 'selected' :'' %> >Admin</option>
      </select>
    </div>
    <div  class="field">
      <label for="name">Name</label>
      <input type="text" name="name" value="<%= user.name %>" required/>
    </div>
    <div  class="field">
      <label for="email">Email</label>
      <input type="email" name="email" value="<%= user.email %>" required/>
    </div>
    <div  class="field">
      <label for="password">Password</label>
      <input type="password" name="password" required/>
    </div>
    <div  class="field">
      <% if (user.isNewRecord) { %>
        <input type="submit" name="create" value="Create" />
      <% } else { %>
        <input type="submit" name="update" value="Update" />
      <% } %>
    </div>
  </form>
</div>