<div class="card">
    <div class="card-button-container">
        <form action="<%= editUserPath(user) %>" method="get">
            <input type="submit" value="Edit" class="card-button edit">
        </form>
        <form action="<%= deleteUserPath(user) %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete" class="card-button delete">
        </form>
    </div>
    <div class="card-title"><%= user.name %></div>
    <div class="card-contents">
        <ul>
            <li>Email: <%= user.email %></li>
            <li>Role: <%= user.role %></li>
        </ul>
    </div>
</div>
